@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');

html { 
    box-sizing: border-box;
}
*, *:before, *::after {
    box-sizing: inherit;
}

li {
    list-style: none;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0; 
}

a {
    text-decoration: none;
    color:#4C8A8A;
}

/* arreglos generales */

body {
    background-color: rgba(28, 25, 26, 1);
    color:rgb(240, 212, 185);
    font-family: 'Arimo', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.button {
    width: 175px;
    height: 50px;
    left: 100px;
    top: 546px;
    background: #4C8A8A;
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 10px;
    font-family: 'Arimo', sans-serif;
    color: rgb(240, 212, 185);
    font-size: medium;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.input {
    width: 261px;
    height: 50px;
    left: 57px; 
    top: 362px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    font-family: 'Arimo', sans-serif;
    margin-top: 15px;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
   text-align: center;
}

/* página de login */
.firstPage {
    display:flex; 
    flex-direction: column;
}

.logo-login {
    width: 90%;
    display: block;
    margin: 10px auto auto auto;
}

#lostPassword {
    color: #4C8A8A;
}

.google {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#googleLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: transparent;
}


/* olvidé mi contraseña*/ 

.iconPassword {
    width: 50%;
    margin: 50px 0px 20px 0px;
}

#resetEmail {
    margin-top: 10%;
    margin-bottom: 15%;
}

.resetPasswordForm {
    display: flex;
    flex-direction: column;
    text-align:center;
}


/* Post */

.option-post {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}

#closePost {
    width: 15%;
    height: 15%;
    display: flex;
    align-self: flex-end;

}

.title-template {
    display: flex;
    justify-content: center;
}

#post{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

#description{
    height: 118px ;
}



/* timeLine */

#headerTimeLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-timeLine {
    
    width: 40%;
    height: 50%;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: column;
}

#btnPublish{
    bottom: 30px;
    right: 80px;
    margin-bottom: 10%;
    background-color: transparent;
    border: none;
}

.publish-btn{
    left: 890px;
    top: 715px;
    height: 64px;
} 

.icon {
    width: 23%;
}

.icon-search {
    width: 100%;
    height: 100%;
}

.icon-calendar {
    width: 95%;
    height: 95%;
}


.title .userInfo{
    color: rgb(240, 212, 185);
    text-align: center;
    size: 120px;
}

#userInfo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

#profilePhoto {
    width: 75px;
    padding: 10px;
    height:75;
    margin: auto;
    border-radius:60px;
}

#navUser {
    display: flex;
    flex-direction: row;
    background-color: rgba(76, 138, 138, 1);
    border-radius: 40px 40px 0px 0px;
    position: fixed;
    width: 375px;
    height: 87px;
    left: 0px;
    top: 725px;
    justify-content: space-evenly;
}

/* container Post */

#containerPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.allPost {
    background-color: white;
    color: rgba(0, 0, 0, 0.56);
    margin-bottom: 20px;
    width: 300px;
    padding: 20px 40px 20px 40px;
    font-family: 'Arimo', sans-serif;
    border-radius: 20px;
}

.reactions {
    border-top: rgba(0, 0, 0, 0.164);
    border-top: solid;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-top: 20px;
}

#btnLike{
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.img-comment {
    width:20%;
    height: 25%;
    padding-left:10px;
    
}
.img-like {
    width: 70%;

}
.name-user{
    padding-right: 60%;
}

.img-options {
    width: 7%;
    height: 7%;

}

.user-post {
    color: black;
    display: flex;
    flex-direction: row;
}

.feedPost {
    padding-top: 10px;
}


/* editar post */
.btn-save{
    display: none;
}

textarea {
    border: none;
    font-family: 'Arimo', sans-serif;
    color: rgba(0, 0, 0, 0.56);
    padding: 5px;
    font-size: medium;
    resize: none;
}

textarea.active {
    border: salmon;
    border-color: salmon;
    background-color: seagreen;
}

/* media computador */ 

@media screen and (min-width:630px){

    .firstPage {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    .second-page {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .resetPasswordForm {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    

    .container-logo {
        grid-column-start: 1 ;
    }

    .container-password {
        grid-column-start: 2;
    }

    head {
        grid-column-start:1;
    }

    .login {
        margin-top: 30%;
        grid-column-start: 2;
    }

    .createAccount {
        margin-top: 30%;
        grid-column-start: 2;
    }

    .title1 {
        margin-top: 10%;
        width: auto;
    }

    .info {
        font-size: medium;
    }

    .google {
        width: auto;
    }
}

/* css menu flotante desktop*/

@media screen and (min-width:630px){

.nav-bar {
    background-color: sandybrown;
    padding: 20px;
    display: block;
    color: seashell;
    cursor: pointer;
    font-size: 1.5em;
    width: 110%;
}

.menu, .submenu {
    padding:0; 
    margin: 0;
}

.menu {
    background-color:transparent;
    width: 110%;
    transition: all 0.5s;
}

.menu-link {
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
}

.menu-link:hover {
    background: #444;
}

.submenu .menu-link:hover {
    background: #222;
}

.submenu {
    position: absolute;
    height: 0;
    overflow: visible;
    transition: all 0.3s;
    font-size: 1em;
    visibility: hidden;
}

.container-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}

.submenu .menu-link{
    background-color:#333;
    padding-left: 20;
}

.showMenu {
    margin-left: 0;
}
}

/* menú flotante celular  y tablet*/

.nav-bar {
    background-color: sandybrown;
    padding: 20px;
    display: block;
    color: seashell;
    cursor: pointer;
    font-size: 1.5em;
    width: 110%;
}

.menu, .submenu {
    padding:0; 
    margin: 0;
}

.menu {
    background-color:transparent;
    width: 110%;
    transition: all 0.5s;
}

.menu-link {
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
}

.submenu {
    position: absolute;
    height: 0;
    overflow: visible;
    transition: all 0.3s;
    visibility: hidden;
}

.container-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}

.submenu .menu-link{
    background-color:#333;
    padding-left: 20;
}

.showMenu {
    margin-left: 0;
}









/* @media (min-width:1024px) {
    .nav-bar {
        display: none;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .container-submenu {
        position: relative;
    }

    .submenu {
        position: absolute;
        top: 60px;
        width: 200px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }

    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;

    }
} */
