@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');

html { 
    box-sizing: border-box;
}
*, *:before, *::after {
    box-sizing: inherit;
}

li {
    list-style: none;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0; 
}

a {
    text-decoration: none;
    color:#4C8A8A;
}

/* arreglos generales */

body {
    background-color: rgba(28, 25, 26, 1);
    color:rgb(240, 212, 185);
    font-family: 'Arimo', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.button {
    width: 175px;
    height: 50px;
    left: 100px;
    top: 546px;
    background: #4C8A8A;
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 10px;
    font-family: 'Arimo', sans-serif;
    color: rgb(240, 212, 185);
    font-size: medium;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.input {
    width: 261px;
    height: 50px;
    left: 57px; 
    top: 362px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    font-family: 'Arimo', sans-serif;
    margin-top: 15px;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
   text-align: center;
}

/* página de login */
.firstPage {
    display:flex; 
    flex-direction: column;
}

.logo-login {
    width: 90%;
    display: block;
    margin: 5px auto auto auto;
}

#lostPassword {
    color: #4C8A8A;
}

.google {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#googleLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: transparent;
}


/* olvidé mi contraseña*/ 

.iconPassword {
    width: 50%;
    margin: 50px 0px 20px 0px;
}

#resetEmail {
    margin-top: 10%;
    margin-bottom: 15%;
}

.resetPasswordForm {
    display: flex;
    flex-direction: column;
    text-align:center;
}


/* Post */

.option-post {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}

#closePost {
    width: 15%;
    height: 15%;
    display: flex;
    align-self: flex-end;

}

.title-template {
    display: flex;
    justify-content: center;
}

#post{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

#description{
    height: 118px ;
}



/* timeLine */

#headerTimeLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-timeLine {
    
    width: 40%;
    height: 50%;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: column;
}

#btnPublish{
    bottom: 30px;
    right: 80px;
    margin-bottom: 10%;
    background-color: transparent;
    border: none;
}

.publish-btn{
    left: 890px;
    top: 715px;
    height: 64px;
} 

.icon {
    width: 23%;
}

.icon-search {
    width: 85%;
    height: 85%;
}

.icon-calendar {
    width: 85%;
    height: 75%;
}


.title .userInfo{
    color: rgb(240, 212, 185);
    text-align: center;
    size: 120px;
}

#userInfo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

#profilePhoto {
    width: 75px;
    padding: 10px;
    height:75;
    margin: auto;
    border-radius:60px;
}

#navUser {
    display: flex;
    flex-direction: row;
    background-color: rgba(76, 138, 138, 1);
    border-radius: 40px 40px 0px 0px;
    position: fixed;
    width: 375px;
    height: 107px;
    left: 0px;
    top: 550px;
    justify-content: space-evenly;
}

/* container Post */

#postContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.allPost {
    background-color: white;
    color: rgba(0, 0, 0, 0.56);
    margin-bottom: 20px;
    width: 300px;
    padding: 20px 40px 20px 40px;
    font-family: 'Arimo', sans-serif;
    border-radius: 20px;
}

.reactions {
    border-top: rgba(0, 0, 0, 0.164);
    border-top: solid;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-top: 20px;
    justify-content: center;
}

#btnLike{
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.img-comment {
    width:15%;
    height: 20%;
    padding-top: 12px;
}

.img-like {
    width: 70%;

}
.name-user{
    padding-right: 60%;
}

.img-options {
    width: 7%;
    height: 7%;

}

.user {
    color: rgba(76, 138, 138, 1);
    display: flex;
    flex-direction: row;
}

.feedPost {
    padding-top: 10px;
}

.likesCount {
    font-size: 20px;
}

 .btn-Edit, .btn-Delete,  .btn-save {
    width: 85px;
    height: 50px;
    background: #4C8A8A;
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 10px;
    font-family: 'Arimo', sans-serif;
    color: rgb(240, 212, 185);
    font-size:18px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* editar post */
.btn-save{
    display: none;
}

textarea {
    border: none;
    font-family: 'Arimo', sans-serif;
    color: rgba(0, 0, 0, 0.56);
    padding: 5px;
    font-size: medium;
    resize: none;
}

.text-textarea.active {
    border-color: rgba(76, 138, 138, 1);
    border: solid;
    color: rgba(199, 89, 36, 1);
}

/* menu flotante */

.menu-link {
    display: block;
    padding: 10px;
    color: rgb(240, 212, 185);
    font-size: 1.4em;
    cursor: pointer;
}

.submenu {
    position: absolute;
    height: 0;
    overflow: visible;
    transition: all 0.3s;
    display: none;
} 

.submenu.show {
    display: block;
}

.submenu .menu-link{
    background-color:rgb(129, 126, 126);
    padding-left: 20;
    font-size: small;
    font-family: 'arimo', sans-serif;
}



/* media computador */ 

@media screen and (min-width:630px){

    body {
        background-color: rgb(34, 32, 32);
    }

    .firstPage {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 50px;
    }

    .logo-login {
        grid-column-start: 1;
        margin-top: 15%;
    }

    .logoContainer{
        border-radius: 20px 0px 0px 20px;
        margin-top: 20%;
        background-color: rgba(28, 25, 26, 1);

    }

    .login {
        margin-top: 20%;
        grid-column-start: 2;
        border-radius: 0px 20px 20px 0px;
        background-color: rgb(54, 51, 52);
        padding:30px;
    }

    .info {
        font-size: medium;
    }

    .google {
        width: auto;
    }

    .logoAccount {
        margin-top: 30%;
        grid-column-start:1;
        border-radius: 20px 0px 0px 20px;
        background-color: rgba(28, 25, 26, 1);
    }

    .second-page {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #createAccount {
        margin-top: 30%;
        padding:20px;
        border-radius: 0px 20px 20px 0px;
        grid-column-start: 2;
        background-color: rgb(54, 51, 52);
    }

    .title1 {
        margin-top: 10%;
        width: auto;
    }

    .resetPasswordForm {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .container-logo {
        margin-top: 30%;
        grid-column-start: 1;
        border-radius: 20px 0px 0px 20px;
        background-color: rgba(28, 25, 26, 1);
    }

    .iconPassword {
        padding-top: 20%;
    }

    
    .container-password {
        margin-top: 30%;
        grid-column-start: 2;
        border-radius: 0px 20px 20px 0px;
        background-color: rgb(54, 51, 52);
        padding: 12%;
    }

    .logo-timeLine {
        width: 25%;
        height: 25%;
        margin-top: -15px;
    }

    #profilePhoto {
        width: 90px;
        height: 90px;
        margin-top: 20px;

    }

    #profilePhoto:hover{
        background-color: rgba(76, 138, 138, 1);
    }


    /* menu flotante */

.menu-link {
    display: block;
    padding: 10px;
    color: rgb(240, 212, 185);
    font-size: 1.9em;
    cursor: pointer;
}

.submenu {
    position: absolute;
    height: 0;
    overflow: visible;
    transition: all 0.6s linear 0.4s;
    display: none;
    margin-right: 10px;
} 

.submenu.show {
    display: block;
}

.submenu .menu-link{
    background-color:rgb(129, 126, 126);
    padding-left: 20;
    font-size: 1.3em;
    font-family: 'arimo', sans-serif;
}

.submenu .menu-link:hover{
    background-color:rgba(76, 138, 138, 1);
}
.posts-container{
    display: flex;
    justify-content: center;
}

#postContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin-top: 50px;
    width: 650px;
    margin-bottom: 80px;
    /* margin-left: 150px; */
}

.allPost {
    padding: 30px 40px 30px 40px;
    margin-bottom: 40px;
    width: 650px;
}

.reactions {
    justify-content: left;
}
.img-comment {
    width:8%;
    height: 12%;
    padding-top: 6px;
}

.btn-Edit, .btn-Delete,  .btn-save {
    font-size: 14px;
    margin-right: 10px;
    height: 40px;
}

#headerTimeLine{
    background-color: rgba(28, 25, 26, 1);
    padding:10px;
    border-radius: 0px 0px 20px 20px;
    margin-top: -5px;
}

#navUser {
    display: flex;
    flex-direction: column;
    background-color: rgba(76, 138, 138, 1);
    position: fixed;
    width: 100px;
    height: 375px;
    left: 0px;
    top: 230px;
    border-radius: 0px 10px 10px 0px;
}

#closePost {
    width: 4%;
    height: 4%;
    left: 400px;

}

.quarter-page {
    padding-top: 3px;
    padding-right: 20px;
    /* background-color: rgb(54, 51, 52); */
}

.title-template{
    font-size: 24px;
}

}